body
{
    background-color: darkslategray;
    color:aliceblue;
    font-size:20px;  
    font-family: Helvetica;
  }

  h1
  {
    font-size: 50px;
    margin-bottom: 2px;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  h2
  {
    font-size:30px;
    font-family:Papyrus;
    color:aliceblue;
    margin: 10px;;

  }
  p
  {
    color: red;
  }

  canvas
  {
    border:3px solid white;
    margin: 10pt;
  }
 
  #file
  {
    font-size:20px;
    color:aliceblue;
  }
  #head
  {
    background-color: rgb(20, 41, 41);
    font-size: 20px;
    width: 100%;
    height: 3cm;;
  }

  #head h2
  {
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  #doc
  {
     background-color: white;;
     height: auto;
     margin-bottom: 40px;
  }
  #doc p
  {
    color:bback;
    font-style: italic;
  }

  .filter-button
  {
    margin:10px;
    font-size: 25px;
    border-radius: 20px;
    height:2cm;
  }

  #red{
    border: solid 5px red;
    background-color:pink;
    color:red;
      
  }
  #blue{
    background-color:cyan;
    color:blue;
    border: solid 5px blue;
  }
  #green{
    border: solid 5px green;
    background-color:lightgreen;
    color:green;
  }
  #grey{
    font-size: 25px;
    background-color:grey;
    color:black;
    border: solid 5px black;
  }
  #rainbow{
    font-size: 25px;
    background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);    color:black;
    border:solid 3px violet;
    padding:2px;
  }
  #blur{
    background: linear-gradient(red,green,blue);
    color:white;
    border: solid 5px darkred;
  }
  #undo{
    font-size: 25px;
    background-color:white;
    border-radius: 10px;
    color:black;
  }
  #behind-bars{
    background-color:orange;
    border-radius: 10px;
    color:black;
    border-style:dashed;
    border-width:9px;
    border-color: black;
  }
  #blackpixel{
    background-color:black;
    border-radius: 10px;
    color:white;
    border-style:dotted;
    border-width:9px;
    border-color: white;
  }
  #whitepixel{
    background-color:white;
    border-radius: 10px;
    color:black;
    border-style:dotted;
    border-width:9px;
    border-color: black;
  }

  .filter-buttons
  {
    display:flex;
    padding:10px;
    margin:10x;
  }